
*.swp
build.linux/*.o
build.linux/DISK_0
build.linux/nachos
build.linux/Makefile.dep
test/*.noff
test/*.o

shell/*.o
shell/config.status
shell/config.log
shell/shell
shell/Makefile
shell/config.h
nachos_org
test/matmultx
test/matmultx.c
*.swo
